Biblioteca/bin/Debug/net8.0/Biblioteca.dll
Biblioteca/bin/Debug/net8.0/Biblioteca.exe
Biblioteca/bin/Debug/net8.0/Biblioteca.pdb
Biblioteca/obj/Debug/net8.0/apphost.exe
Biblioteca/obj/Debug/net8.0/Biblioteca.AssemblyInfo.cs
Biblioteca/obj/Debug/net8.0/Biblioteca.AssemblyInfoInputs.cache
Biblioteca/obj/Debug/net8.0/Biblioteca.dll
Biblioteca/obj/Debug/net8.0/Biblioteca.pdb
Biblioteca/obj/Debug/net8.0/Biblioteca.sourcelink.json
Biblioteca/obj/Debug/net8.0/ref/Biblioteca.dll
Biblioteca/obj/Debug/net8.0/refint/Biblioteca.dll
